<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:fragment="copy">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a sec:authorize="hasRole('ADMIN')" class="navbar-brand" href="@{/admin}">Админ</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="@{/history}">Мои покупки <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="@{/lk}">Личный кабинет</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="@{/cart}">Корзина</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Каталог
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a th:each="category : ${categories}" class="dropdown-item" href="@{/category/{categoryId}(categoryId=${category.id})}" th:utext="${category.name}">...</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>
</body>
</html>